apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../platform-agnostic

resources:
  - namespace.yaml

images:
  - name: gcr.io/ml-pipeline/api-server
    newName: docker.io/aipipeline/api-server
    newTag: 1.0.4
  - name: gcr.io/ml-pipeline/persistenceagent
    newName: docker.io/aipipeline/persistenceagent
    newTag: 1.0.4
  - name: gcr.io/ml-pipeline/frontend
    newName: docker.io/aipipeline/frontend
    newTag: 1.0.4
  - name: gcr.io/ml-pipeline/metadata-writer
    newName: docker.io/aipipeline/metadata-writer
    newTag: 1.0.4
  - name: gcr.io/ml-pipeline/scheduledworkflow
    newName: docker.io/aipipeline/scheduledworkflow
    newTag: 1.0.4
  - name: gcr.io/ml-pipeline/cache-deployer
    newTag: 1.0.4
  - name: gcr.io/ml-pipeline/cache-server
    newTag: 1.0.4
