apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/installs/generic
- ../../base/metadata/base
- ../../third-party/tekton/installs/cluster
- ../../third-party/tekton-custom-task
- ../../third-party/minio/base
- ../../third-party/mysql/base

# Identifier for application manager to apply ownerReference.
# The ownerReference ensures the resources get garbage collected
# when application is deleted.

images:
- name: gcr.io/ml-pipeline/api-server
  newName: docker.io/aipipeline/apiserver-dev
  newTag: 91ce40fba
- name: gcr.io/ml-pipeline/persistenceagent
  newName: docker.io/aipipeline/persistenceagent-dev
  newTag: 91ce40fba
- name: gcr.io/ml-pipeline/scheduledworkflow
  newName: docker.io/aipipeline/swf-dev
  newTag: 91ce40fba

labels:
- includeSelectors: true
  pairs:
    application-crd-id: kubeflow-pipelines

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ml-pipeline
    spec:
      template:
        spec:
          containers:
            - name: ml-pipeline-api-server
              env:
              - name: EXECUTIONTYPE
                value: PipelineRun
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ml-pipeline-persistenceagent
    spec:
      template:
        spec:
          containers:
            - name: ml-pipeline-persistenceagent
              env:
              - name: EXECUTIONTYPE
                value: PipelineRun
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ml-pipeline-scheduledworkflow
    spec:
      template:
        spec:
          containers:
            - name: ml-pipeline-scheduledworkflow
              env:
              - name: EXECUTIONTYPE
                value: PipelineRun
