apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- pipeline-loops
- driver-controller
- exit-handler
- configmap.yaml

namespace: tekton-pipelines

images:
  - name: quay.io/aipipeline/pipelineloop-controller
    newTag: 1.6.5
  - name: quay.io/aipipeline/pipelineloop-webhook
    newTag: 1.6.5
  - name: kfp-v2-dev-driver-controller
    newName: docker.io/aipipeline/tekton-driver-dev
    newTag: 91ce40fba
  - name: tekton-exithandler-controller
    newName: docker.io/aipipeline/tekton-exithandler-controller-dev
    newTag: 91ce40fba
  - name: tekton-exithandler-webhook
    newName: docker.io/aipipeline/tekton-exithandler-webhook-dev
    newTag: 91ce40fba
