apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/installs/generic
- ../../base/metadata/base
- ../../third-party/minio/base
- ../../third-party/mysql/base
- ../../third-party/openshift-pipelines-custom-task
- ../../third-party/openshift/standalone

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ml-pipeline
    spec:
      template:
        spec:
          containers:
            - name: ml-pipeline-api-server
              env:
              - name: EXECUTIONTYPE
                value: PipelineRun
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ml-pipeline-persistenceagent
    spec:
      template:
        spec:
          containers:
            - name: ml-pipeline-persistenceagent
              env:
              - name: EXECUTIONTYPE
                value: PipelineRun
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ml-pipeline-scheduledworkflow
    spec:
      template:
        spec:
          containers:
            - name: ml-pipeline-scheduledworkflow
              env:
              - name: EXECUTIONTYPE
                value: PipelineRun
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ml-pipeline-ui
    spec:
      template:
        spec:
          containers:
            - name: ml-pipeline-ui
              env:
              - name: POD_LOG_CONTAINER_NAME
                value: step-user-main


images:
- name: gcr.io/ml-pipeline/api-server
  newName: docker.io/aipipeline/apiserver-dev
  newTag: ffca08e6d
- name: gcr.io/ml-pipeline/persistenceagent
  newName: docker.io/aipipeline/persistenceagent-dev
  newTag: ffca08e6d
- name: gcr.io/ml-pipeline/scheduledworkflow
  newName: docker.io/aipipeline/swf-dev
  newTag: ffca08e6d

labels:
- includeSelectors: true
  pairs:
    application-crd-id: kubeflow-pipelines
